/* Your CSS goes here */

body {
  font-family:Verdana, Arial, sans-serif;
  background-color: #FFF;
  }

input, select {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  }

label.embolden{
  font-weight:bold;
  }

p.instructions {
  border:dotted;
  }

.jumbotron {
  background: url("/static/IMAGES/Watermelon-Slices.jpg");
  background-repeat: no-repeat;
  width: 1000px;
  margin: auto;
  }

form {
  background: -webkit-linear-gradient(bottom, #CCC, #EEE 175px);
  background: -moz-linear-gradient(bottom, #CCC, #EEE 175px);
  background: linear-gradient(bottom, #CCC, #EEE 175px);
  margin: auto;
  position: relative;
  width: 400px;
  height: 350px;
  text-decoration: none;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  }

