{% extends 'base.html' %}

{% block title %}Thanks for your application!{% endblock %}

{% block content %}

<!-- Block goes here -->

<h1>About UberMelon</h1>
<p>On a snowy Paris evening in 2008, Travis Kalanick and Garrett Camp had a hankering for a juicy melon, but no stores were open. So they came up with a simple idea—tap a button, get a fresh, sweet melon delivered right to your door.</p>

<p>What started as an app to request premium melons in a few metropolitan areas is now changing the logistical fabric of cities around the world. Whether it’s a slice, a singlle melon, or a whole flat of melons, we use technology to give people what they want to eat, when they want it.</p>

{% endblock %}