<!doctype html>
<html>
    <head>
        <title>{% block title %}TITLE HERE{% endblock %}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/
      3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="/static/CSS/styles.css">
    </head>

    <body>
        <div class="container">

            {% block content %}CONTENT HERE{% endblock %}

        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>